<p-confirmDialog icon="fa fa-question-circle" [style]="{'width':'250px'}" [closable]="false" acceptLabel="Si"></p-confirmDialog>
<header>
    

  <mat-toolbar>
    <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
      <mat-icon>account_circle</mat-icon>
    </button> -->
    <button mat-icon-button aria-label="Example icon-button with menu icon" (click)="irHome()">
      <!-- <mat-icon>account_circle</mat-icon> -->
      <img src="../../../../../../../assets/img/logos/logoRedondo.svg" alt="">
    </button>

    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Seguimiento Casos Médicos</span>
    <!-- <span class="example-spacer"></span> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="onLogout()" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <mat-form-field>
      <mat-label>Compañia</mat-label>
      <!-- <mat-select [value]="empresaSelect?.nombreComercial" (selectionChange)="onChangeEmpresa()"> -->
      <mat-select [value]="empresaSelect!" name="Empresa">
        <mat-option *ngFor="let empresa of empresasItems" (click)="onChangeEmpresaSelect(empresa)" [value]="empresaSelect">{{empresa.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  
  </mat-toolbar>


</header>

<main style="background: rgb(120, 144, 224);    height: 93%;
position: fixed;">

  <!-- <div style="    width: 100%;
  height: 92%;
  background: red;
  position: fixed;">

  </div> -->
  <mat-drawer-container class="example-container" hasBackdrop="false" autosize>
     <mat-drawer #drawer class="example-sidenav" mode="over">
      <header>SIGESS</header>
      <div style="height: 0.3rem; width: 100%; background: var(--white); margin-bottom: 0.6rem;"></div>
      
      

      <mat-accordion >        
        <div *ngFor="let item of items">
          <mat-expansion-panel hideToggle *sTienePermiso="item.codigo">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon [class]="item.class">{{item.icon}}</mat-icon>
                <label>{{item.label}}</label>                   
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let subItem of item.items"> 
              
              <button *sTienePermiso="subItem.codigo" (click)="navigate(subItem.routerLink[0])">
                <mat-icon [class]="subItem.class">{{subItem.icon}}</mat-icon>
                <label for="">{{subItem.label}}</label>              
              </button>
            </div>
          </mat-expansion-panel>
  
        </div>
       
      </mat-accordion>



    </mat-drawer>
  
    <div class="example-sidenav-content">
      <!-- <button type="button" style="background: red;" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>


</main>

