button{
    height: 42px !important;
    width: 127px !important;
    z-index: 10;
    color: var(--white)!important;
}

.button-round{
    border-radius: 50px !important;
}

.button-orange{
    background: var(--orange);
}

mat-form-field mat-label{
// color: var(--white);
}

button:disabled,
button[disabled]{
//   border: 1px solid #999999;
  background-color: var(--orange-ligth);
  color: #666666;
}

.boxShadowHide{
    box-shadow: none !important;
}

.boxShadowShow{
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}