mat-accordion{
    width: 100%;
}

mat-expansion-panel{
    margin: 0.4rem 1rem !important;
    border-radius: 1.5rem !important;
    background: var(--orange) !important;
}

mat-expansion-panel div button{
    background: none;
    border: none;
    width: 100%!important;
    // text-align: left;
    display: flex;
}

mat-expansion-panel div button mat-icon{
    display: flex !important;
    align-items: center !important;
    height: 100% !important;
    margin-right: 0.3rem !important; 
}

mat-expansion-panel div button label{
    display: flex;
    align-items: center;
    height: 100%;
}

mat-panel-title{    
    height: 100%;
}

mat-panel-title label{
    font-family: "DM Sans", sans-serif !important;
    font-size: 1.26rem;
    font-weight: 300;
    color: var(--white);
    display: contents;
    height: 26px !important;
}

mat-panel-title mat-icon {
    margin-right: 0.3rem !important;
}

mat-expansion-panel-header{
    // background: none !important;
    background: var(--blue-mid);
    height: 3.8rem !important;

}

.mat-expansion-panel-header:hover {
    background: var(--orange) !important;
}