// 1. Posicionamiento
html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top-80{
    position: relative;
    top: 80px;
}

.login--toggle{    
    position: relative;
    top: -20px;
    width: 85%;
}