// 3. tipografia
html{
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif !important;
}

.mat-form-field{
    font-family: "DM Sans", sans-serif !important;
    font-size: 62.5%;
}

.link{
    font-size: 1.2rem;
    color: var(--blue);
}

.predec-link{
    font-size: 1.2rem !important;
    color: var(--black);
}

