<header>
    

    <mat-toolbar>
      <!-- <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>account_circle</mat-icon>
      </button> -->
      <button mat-icon-button aria-label="Example icon-button with menu icon">
        <!-- <mat-icon>account_circle</mat-icon> -->
        <img src="../../../../../../../assets/img/logos/logoRedondo.svg" alt="">
      </button>

      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Seguimiento Casos Médicos</span>
      <!-- <span class="example-spacer"></span> -->
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->
    </mat-toolbar>


</header>


