
<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="card">
  <div class="card-container blue-container flex align-items-center justify-content-start">
      <div>
        <p-panelMenu [model]="items" [style]="{'width':'300px'}"></p-panelMenu>

      </div>
      <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round mr-3">2</div>
      <div class="w-4rem h-4rem bg-blue-500 text-white font-bold flex align-items-center justify-content-center p-4 border-round">3</div>
  </div>
</div>


<!-- <p-button label="Click" ></p-button>
<button mat-raised-button color="primary">Primary</button>

<p-avatar icon="pi pi-search"></p-avatar>
<p-avatar label="JR" image="https://picsum.photos/id/237/200/200" shape="circle"></p-avatar>
<p-avatar shape="circle" image="https://picsum.photos/id/237/200/200" pBadge value="4" severity="danger" styleClass="mr-2" size="xlarge"></p-avatar> -->

<!-- 

 <button pButton type="button" label="Click" ></button>
<p-button label="Click" ></p-button> -->

<!-- <p-menubar [model]="itemsBar">
    <ng-template pTemplate="start">
        <img src="assets/showcase/images/primeng.svg" height="40" class="mr-2">
    </ng-template>
    <ng-template pTemplate="end">
        <input type="text" pInputText placeholder="Search">
    </ng-template>
  </p-menubar> -->
  <!-- <div>
    <p-panelMenu  [model]="itemsNav" [style]="{'width':'300px'}">
      <p-menubar [model]="itemsBar">
        <ng-template pTemplate="start">
            <img src="assets/showcase/images/primeng.svg" height="40" class="mr-2">
        </ng-template>
        <ng-template pTemplate="end">
            <input type="text" pInputText placeholder="Search">
        </ng-template>
      </p-menubar>
    </p-panelMenu>
  </div> -->
<!--    
  
  <p-breadcrumb></p-breadcrumb>

  <p-menu [model]="items"></p-menu> -->

